- var pageTitle = "about"

doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include styles/style.css
  body
    include modules/header
    .section
      h1 О себе 
      .about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, nam quibusdam quae iure, eaque minus adipisci neque sit accusantium obcaecati reprehenderit error officiis facilis rerum? Dolorem fugit voluptatibus cupiditate neque?
    include modules/footer