- var pageTitle = "main"

doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include styles/style.css
  body
    include modules/header
    .section
      .section
        h1 Главная
        .about Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, nam quibusdam quae iure, eaque minus adipisci neque sit accusantium obcaecati reprehenderit error officiis facilis rerum? Dolorem fugit voluptatibus cupiditate neque?Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
    include modules/footer